.header {
	margin: 0 auto 0;
	padding: 0;
	height: 80px;
	width: min(85.4vw, 1230px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_type_main {
	background: rgba(196, 196, 196, 0.01);
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
	color: #ffffff;
}
.header_type_saved-news {
	background: #ffffff;
	box-shadow: inset 0px -1px 0px #d1d2d6;
	color: #1a1b22;
}
.header__title {
	padding: 0;
	margin: 0;
	font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: inherit;
}
