.form__label {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #2f71e5;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.25;
	margin-bottom: 31px;
}
.form__label:last-of-type(1) {
	margin-bottom: 39px;
}
.form__fieldset {
	border: 0;
	padding: 0;
	margin-top: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 358px;
}
.form__fieldset_type_auth {
	max-width: 100%;
}
.form__fieldset_type_submit {
	margin-bottom: 0;
}
.form__input {
	width: 100%;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
	color: #000000;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 9px 0;
}

.form__input::placeholder {
	color: #000;
	opacity: 0.2;
}
.form__input:focus {
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0);
}
.form__input_type_error {
	border-bottom: 1px solid #ff0000;
}
.form__input-error {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	margin-top: 3px;
	color: #ff0000;
	display: none;
}
.form__input-error_active {
	display: block;
}
.form__input-error_button {
	text-align: center;
	margin: 0 auto;
}
.form__button {
	margin-top: 9px;
	width: 360px;
	max-height: 64px;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	border: 0;
	border-radius: 100px;
	box-sizing: border-box;
	background-color: #000;
	transition: ease 0.2s;
	opacity: 1;
}
.form__button:hover {
	opacity: 0.8;
	cursor: pointer;
}
.form__button_disabled {
	background-color: #e6e8eb;
	color: #b6bcbf;
	box-shadow: none;
	user-select: none;
}
.form__button_disabled:hover {
	background-color: #e6e8eb;
	cursor: default;
}
.form__link-wrap {
	text-align: center;
	max-height: 20px;
}

.form__link {
	font-family: "Inter", Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #2f71e5;
	vertical-align: super;
}

.form__text-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
	vertical-align: super;
	margin: 0;
}
@media screen and (max-width: 597px) {
	.form {
		padding-bottom: 25px;
	}
	.form__fieldset {
		max-width: 84.4%;
	}
	.form__button {
		font-size: 14px;
		line-height: 17px;
		margin-top: calc(46px - 30px);
		height: 46px;
	}
	.form__input {
		padding-bottom: 9px;
		margin-bottom: 30px;
	}
}
